<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrossel</title>
    <link rel="stylesheet" href="CSS/style.css">
    <script src="Js/main.js" defer></script> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Audiowide&family=VT323&display=swap" rel="stylesheet">
</head>


<body>
    
    <section class="slider">
 <div class="interface">  <!-- Container do carrossel -->
    <div class="slider-conteiner">

    <div class="slider-box ativo">
        <img src="img/umajanelasombria.png"
             alt="Livro Uma Janela Sombria"
             title="Uma Janela Sombria">

        <div class="info">
            <h2>Uma Janela Sombria</h2>
            <p>Rachel Gillig</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/trono_de_vidro.png"
             alt="Livro Trono de Vidro"
             title="Trono de Vidro">

        <div class="info">
            <h2>Trono de Vidro</h2>
            <p>Sarah J. Maas</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/oprincipecruel.png"
             alt="Livro O Príncipe Cruel"
             title="O Príncipe Cruel">

        <div class="info">
            <h2>O Príncipe Cruel</h2>
            <p>Holly Black</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/nevernight.png"
             alt="Livro Nevernight"
             title="Nevernight">

        <div class="info">
            <h2>Nevernight</h2>
            <p>Jay Kristoff</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/jogosvorazes.png"
             alt="Livro Jogos Vorazes"
             title="Jogos Vorazes">

        <div class="info">
            <h2>Jogos Vorazes</h2>
            <p>Suzanne Collins</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/harrypotter.png"
             alt="Livro Harry Potter"
             title="Harry Potter">

        <div class="info">
            <h2>Harry Potter</h2>
            <p>J. K. Rowling</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/arebededodeserto.png"
             alt="Livro A Rebelde do Deserto"
             title="A Rebelde do Deserto">

        <div class="info">
            <h2>A Rebelde do Deserto</h2>
            <p>Alwyn Hamilton</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/aponteentrereinos.png"
             alt="Livro A Ponte Entre Reinos"
             title="A Ponte Entre Reinos">

        <div class="info">
            <h2>A Ponte Entre Reinos</h2>
            <p>Danielle L. Jensen</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/aguerradosfuracoes.png"
             alt="Livro A Guerra dos Furacões"
             title="A Guerra dos Furacões">

        <div class="info">
            <h2>A Guerra dos Furacões</h2>
            <p>Thea Guanzon</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/acotar.png"
             alt="Livro Corte de Rosas e Espinhos"
             title="Corte de Rosas e Espinhos">

        <div class="info">
            <h2>Corte de Rosas e Espinhos</h2>
            <p>Sarah J. Maas</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/a-guerra-da-papoula.png"
             alt="Livro A Guerra da Papoula"
             title="A Guerra da Papoula">

        <div class="info">
            <h2>A Guerra da Papoula</h2>
            <p>R. F. Kuang</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/4wing.png"
             alt="Livro Quarta Asa"
             title="Quarta Asa">

        <div class="info">
            <h2>Quarta Asa</h2>
            <p>Rebecca Yarros</p>
        </div>
    </div>

    <div class="slider-box">
        <img src="img/16luas.png"
             alt="Livro Dezesseis Luas"
             title="Dezesseis Luas">

        <div class="info">
            <h2>Dezesseis Luas</h2>
            <p>Kami Garcia & Margaret Stohl</p>
        </div>
    </div>

</div>
     </div>
     <div class="setas">
         <button id="anterior" ><i class="bi bi-caret-left-fill">&#9664;</i></button>
         <button id="proximo" ><i class="bi bi-caret-right-fill">&#9654;</i></button>
     </div>

     <!-- botoes de navegação -->
      <div class="btn-nav-box">
        <div class="btn-nav ativo"></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
        <div class="btn-nav "></div>
      </div>
 </div>
    </section>
</body>
</html>